::-webkit-scrollbar {
		width: 0;
		height: 0;
		background-color: transparent;
	} 
*{
	font-size:14px;
}
.fs12{
	font-size:12px !important;
}
.fs13{
	font-size:13px !important;
}
.fs14{
	font-size:14px !important;
}
.fs16{
	font-size:16px !important;
}
.bgw{
	background-color:#fff;
}
.flex{
	display: flex;
}
.fl{
	float:left;
}
.pa{
	position:absolute;
}
.pr{
	position:relative;
}
.mgl10{
	margin-left:10px;
}
.mgl20{
	margin-left:20px;
}
.mgr10{
	margin-right:10px;
}
.pd10{
	padding:10px;
}
.pdb10{
	padding-bottom:10px;
}
.max{
	width:100%;height:100%;text-align: center;
}
.col-4{
	width:25% !important;
}
//页面头部。首页，我的
.headerBox{
	width:100%;
	height:250px;
	.headerImg{
		width:100%;
		height:100%;
	}
	.logo{
		width:100px;height:100px;border:1px solid #dcdcdc;box-shadow:0px 1px 8px #333333;left:50%;top:50%;margin-left:-50px;margin-top:-70px;border-radius:50%;
	}
	.headText{
		with:100%;top:170px;text-align: center;color:#fff;padding:5px 0;
	}
}
// 中间宫格部分
.zlGrid{
	display: flex;flex-wrap:wrap;
	.zlGrid-Item{
		width: 33.33%;text-align: center;padding:5px 0;
		.zlGrid-Img {
			width: 35px;height: 35px;
		}
	}
}